@using Newtonsoft.Json.Linq;
@model JArray
@{
    ViewBag.Title = "SecondModule";
}
<div>
    <a href="@Url.Action("AddSecondModule")" class="btn btn-lg">添加</a>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>标题</th>
                <th>描述</th>
                <th>内容</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item["title"]</td>
                    <td>@item["content"]</td>
                    <td>@MvcHtmlString.Create(item["text"].ToString())</td>
                    <td>
                        <a href="@Url.Action("EditSecondModule",new { id = item["id"]})" class="btn btn-sm">编辑</a>
                        <a href="@Url.Action("DeleteSecondModule",new { id = item["id"]})" onclick="return confirm('确认删除吗?')" class="btn btn-sm">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


